<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
         {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/motivation' | prepend: site.baseurl }}">Motivation</a>
      
      <!-- An example of a section with drop-down menu -->
      <div class="dropdown">
        <a href="{{ '/framework' | prepend: site.baseurl }}" class="dropdown-link">
          <button class="dropdown-btn">
            Framework
            <i class="fa fa-caret-down"></i>
          </button>
        </a>
        <div class="dropdown-container">
          <a href="{{ '/our data' | prepend: site.baseurl }}">Our Data</a><br/>
          <a href="{{ '/models' | prepend: site.baseurl }}">Models</a><br/>
          <a href="{{ '/evaluation' | prepend: site.baseurl }}">Evaluation</a>
        </div>
      </div>
      
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/results' | prepend: site.baseurl }}">Results</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/about' | prepend: site.baseurl }}">About</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="https://github.com/DSSG24-CF-Fairness/crowdflow-fairness" target="_blank">Github</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/related work' | prepend: site.baseurl }}">Related Work</a>

      <span class="sidebar-nav-item">v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var dropdownBtn = document.querySelector('.dropdown-btn');
    var dropdownContainer = document.querySelector('.dropdown-container');

    dropdownBtn.addEventListener('click', function(event) {
        // Toggle the dropdown visibility
        dropdownContainer.classList.toggle('show');
        
        // Ensure the navigation happens after the dropdown is shown
        setTimeout(function() {
            // Check if the dropdown is visible; if so, allow navigation
            if (dropdownContainer.classList.contains('show')) {
                window.location.href = dropdownBtn.parentElement.href;
            }
        }, 500); // Delay to ensure dropdown visibility
    });

    // Close dropdown if clicking outside
    document.addEventListener('click', function(event) {
        if (!event.target.closest('.dropdown')) {
            dropdownContainer.classList.remove('show');
        }
    });
});
</script>

     

